:root {
    --pd: 10px;
    --ticket-ml: 20px;
    --red: red;
    --white: white;
    --text-color: #999999;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.d-flex {
    display: flex;
}

.d-flex.justify--space-between {
    justify-content: space-between;
}

.align-justify--center{
    align-items: center;
    justify-content: center;
}

.pt-48 {
    padding-top: 48px;
}

.pt-b-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.ml-12 {
    margin-left: 12px;
}

.mb-30 {
    margin-bottom: 30px;
}

/* style service other */

.service-other{
    padding: 50px 0;
}

.service-other-wrapper{
    background-color: var(--white);
}

.service-other__title{
    font-size: 18px;
    position: relative;
}


.combo-10step-notify{
    font-size: 20px;
    display: block;
    text-align: center;
}

.combo-10step-notify--important{
    color: var(--red);
    font-weight: 600;
}

.combo-other-content__item{
    margin-bottom: 15px;
}

/* Carousel  */

.owl-nav {
    /* position: absolute;
    left: 0;
    right: 0;
    top: 50%; */
    display: none;
}

/* button.owl-prev {
    left: -30px;
    right: 0;
    bottom: -50%;
    position: absolute;
    outline: none;
    cursor: pointer;
    background: none;
}

button.owl-next{
    right: -30px;
    bottom: -50%;
    position: absolute;
    outline: none;
    cursor: pointer;
    background: none;
}

button.owl-next:hover{
    background: none;
}


button.owl-prev>span,button.owl-next>span {
    font-size: 40px;
    color: #0a0909;
} */

.owl-dots{
    display: none;
}