.wrap-contact {
    background-image: url(../../assets/img/contact/bg_contact.jpg);
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-contact {
    padding-bottom: 15px;
}

.wrap-content {
    background: #fff;
    padding: 15px;
    display: flex;
}

.wrap-map {
    width: 60%;
}

.wrap-map iframe {
    width: 100%;
}

.wrap-input {
    width: 40%;
    padding-left: 30px;
    padding-top: 32px;
}

.wrap-item-contact {
    margin-bottom: 15px;
}

.wrap-item-contact input {
    width: 100%;
    padding: 10px;
}

.wrap-item-contact textarea {
    width: 100%;
    height: 215px;
    padding: 10px;
}

.wrap-button-contact button {
    float: right;
    background-color: #01a453;
    padding: 15px 25px;
    color: #fff;
    border: 0;
    font-size: 13px;
    font-size: 20px;
    font-weight: 700;
}