/* :root {
    --pd: 10px;
    --ticket-ml: 20px;
    --red: red;
    --white: white;
    --text-color: #999999;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
} */

ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block
}

.d-flex {
    display: flex;
}

.align-justify--center {
    align-items: center;
    justify-content: center;
}

.pt-48 {
    padding-top: 48px;
}

.pt-b-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.ml-12 {
    margin-left: 12px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

/* style home */

.header {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    background-color: white;
}

.header__content {
    align-items: center;
    position: relative;
}

.header__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navbar-item {
    padding: 10px 15px;
    font-weight: 600;
}

.header__navbar-link {}

.header__login {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: gold;
    padding: 7px;
    max-width: 130px;
}

.header__logo {
    max-width: 100px;
}

.header__login-icon {
    margin-right: 5px;
}

#item-dropdown, .header__navbar-logo, .header__navbar-bars {
    display: none;
}

.owl-nav {
    display: none;
}

section {
    margin: 50px 0;
}

.heading-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading-title {
    font-size: 22px;
}

.heading-more {
    color: rgb(226, 19, 19);
}

.content {
    position: relative;
    z-index: 100;
    margin-top: 80px;
}

.hair-hot__thumb {
    display: flex;
    flex-wrap: wrap;
}

.hair-hot__item {
    flex: 24%;
    margin: 5px;
}

.brand__item {
    display: flex;
}

.product__item {
    background-color: #FDFDFD;
    margin-bottom: 30px;
    padding: 15px;
    flex: 25%;
    max-width: 25%;
}

.product__item:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.2s linear;
}

.product__detail {
    padding: 0 10px;
}

.product__link {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #333;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.product__link:hover {
    color: #dea43e;
}

.product__price--new {
    font-size: 14px;
    font-weight: 800;
    color: red;
}

.product__price--old {
    text-decoration: line-through;
    color: #afaeae;
    font-weight: 200;
    margin-left: 10px;
    font-size: 12px;
}

.footer {
    padding: 40px 0 30px;
    color: #aeaeae;
    background-color: #383838;
    font-weight: 600;
    font-size: 14px;
}

.footer-wp {
    border-bottom: 1px solid #5b5b5b;
}

.footer__title {
    color: white;
    font-size: 18px;
}

.footer__list-icon {
    display: flex;
    align-items: center;
}

.footer__item-icon {
    margin-right: 15px;
}

.footer__link-icon {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #afaeae;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5b5b5b;
    transition: all 0, 3s linear;
}

.footer__link-icon.facebook:hover {
    background-color: #3b5998;
    transition: all 0, 3s linear;
    color: #fff;
}

.footer__link-icon.instagram:hover {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    transition: all 0, 3s linear;
    color: #fff;
}

.footer__link-icon.youtube:hover {
    background-color: #F70000;
    transition: all 0, 3s linear;
    color: #fff;
}

.footer__link-icon.twitter:hover {
    background-color: #1C9CEA;
    color: #fff;
    transition: all 0, 3s linear;
}

.footer__item {
    margin: 10px 0;
}

.footer__link:hover {
    color: #dea43e;
}

.footer__desc i {
    margin-right: 20px;
}

.copyright {
    text-align: center;
    padding-top: 30px;
}

/* style 10 step */

.ten-step {
    /* padding: 30px; */
    background-color: #FBF4F0;
}

.ten-step__list {
    padding: 20px 0;
}

.ten-step__item {
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    background-color: #fff;
    margin-bottom: 20px;
}

.ten-step__item:hover .ten-step__item-price {
    background: #df8e6a;
    color: #fff;
    transition: transform 0.3s linear;
}

.ten-step__item-link {
    overflow: hidden;
    transition: transform 0.4s linear;
}

.ten-step__item:hover .ten-step__item-img {
    transform: scale(1.2);
    transition: transform 0.4s linear;
}

.ten-step__item-content {
    padding: 15px;
}

.ten-step__item-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ten-step__sidebar-title {
    font-size: 25px;
    font-weight: 500;
}

.ten-step__sidebar-desc, .ten-step__item-title {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    flex: 1;
}

.ten-step__sidebar-price, .ten-step__item-price {
    flex: 2;
    display: block;
    padding: 10px;
    border-radius: 3px;
    color: #E19776;
    background-color: #FBF4F0;
    font-size: 14px;
    font-weight: 600;
    max-width: 82px;
    text-align: center;
}

.ten-step__sidebar-price {
    background-color: #fff;
}

.ten-step__item-desc {
    font-size: 15px;
    line-height: 30px;
    color: #817f7f;
    margin: 0;
    text-overflow: ellipsis;
    width: 181px;
    overflow: hidden;
    white-space: nowrap;
}

/* style sidebar */

.ten-step__sidebar {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    margin-bottom: 20px;
    overflow-y: scroll;
    height: 500px;
}

.ten-step__sidebar-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.ten-step__sidebar-desc,.ten-step__sidebar-price{
    margin: 0;
}

.ten-step__nav-list{
    display: none;
}

@media only screen and (max-width: 1023px) {
    .brand__item {
        flex-wrap: wrap;
    }
    .product__item {
        flex: 33.33%;
        max-width: 33.33%;
    }
    .hair-hot__item {
        flex: 33.33%;
    }
    .header__content {
        justify-content: space-between;
    }
    .header__navbar {
        display: none;
        position: absolute;
        width: 100%;
        flex-direction: column;
        left: 0;
        top: 0;
        padding: 30px 0;
        background-color: #fff;
        align-items: flex-start;
    }
    .header__navbar-list {
        flex-direction: column;
        width: 100%;
    }
    .header__navbar-item {
        width: 100%;
        display: block;
        border-bottom: 1px solid #ebebeb;
    }
    .header__login {
        margin-left: 10px;
        margin-top: 20px;
    }
    .header__navbar-bars {
        font-size: 24px;
        display: block;
        text-align: right;
    }
    .header__navbar-bars--remove {
        position: absolute;
        right: 10px;
        top: 20px;
        font-size: 24px;
        display: block;
    }
    [type=checkbox]:checked~.header__navbar {
        display: block;
    }
    [type=checkbox]:not(:checked), [type=checkbox]:checked {
        position: absolute;
        left: -9999px;
    }
    [type=checkbox]:not(:checked)+label, [type=checkbox]:checked+label {
        position: relative;
        cursor: pointer;
    }
    .header__navbar-logo {
        display: block;
    }

    .ten-step__nav-list{
        display: flex;
        overflow-x: scroll;
    }
    .ten-step__nav-item{
        flex: 1;
        padding: 5px;
        min-width: 100px;
        background-color: #1C9CEA;
        margin-right: 20px;
        text-align: center;
        font-weight: 600;
        color: white;
        border-radius: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .product__item {
        flex: 50%;
        max-width: 50%;
    }
    .heading-title {
        font-size: 16px;
    }
    .heading-more {
        font-size: 14px;
    }
}

@media only screen and (max-width: 576px) {
    .product__price--new,
    .product__link{
        font-size: 12px;
    }
    .product__price--old{
        display: block;
        margin-top: 5px;
        margin-left: 0;
        font-size: 11px;
    }
    .ten-step__nav-item{
        font-size: 14px;
    }
}

@media only screen and (max-width: 374px) {
    .product__item {
        flex: 100%;
        max-width: 100%;
    }
}

/* ============= Step 10 =============== */
.wrap-step-ten {
    display: flex;
}
  
.thumbnails {
    width: 20%;
    display: flex;
    flex-direction: column;
    line-height: 0; 
}

.thumbnails li {
    flex: auto; 
}

.thumbnails a {
    display: block; 
}

.thumbnails img {
    height: 20vmin;
    object-fit: cover;
    object-position: top; 
}
  
.slides {
    overflow: hidden;
    width: 80%;
    height: 100vmin; 
}

.slides li {
    width: 75vmin;
    height: 100vmin;
    position: absolute;
    z-index: 1; 
}

.slides img {
    height: 100vmin;
    object-fit: cover;
    object-position: top; 
}
  
.slides li:target {
    z-index: 3;
    -webkit-animation: slide 1s 1; 
}
  
.slides li:not(:target) {
    -webkit-animation: hidden 1s 1; 
}
  
@keyframes slide {
    0% {
      transform: translateX(-100%); }
    100% {
      transform: translateX(0%); } 
}
@keyframes hidden {
    0% {
      z-index: 2; }
    100% {
      z-index: 2; } 
}
  
  /*# sourceMappingURL=scss.css.map */