:root {
    --pd: 10px;
    --ticket-ml: 20px;
    --red: red;
    --white: white;
    --text-color: #999999;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block
}

.d-flex {
    display: flex;
}

.align-justify--center {
    align-items: center;
    justify-content: center;
}

.pt-48 {
    padding-top: 48px;
}

.pt-b-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.ml-12 {
    margin-left: 12px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

/* style detail product */

.owl-dots {
    display: none;
}

.owl-nav {
    display: none;
}

@media only screen and (min-width: 1023px) {
   
}

@media only screen and (max-width: 576px) {
    
}

@media only screen and (max-width: 374px) {
   
}