:root {
    --pd: 10px;
    --ticket-ml: 20px;
    --red: red;
    --white: white;
    --text-color: #999999;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block
}

.d-flex {
    display: flex;
}

.align-justify--center {
    align-items: center;
    justify-content: center;
}

.pt-48 {
    padding-top: 48px;
}

.pt-b-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.ml-12 {
    margin-left: 12px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

/* style home */

.header{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    background-color: white;
}

.header__content{
    align-items: center;
    
}
.header__navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navbar-item{
    padding: 10px 15px;
    font-weight: 600;
}
.header__navbar-link{

}

.header__login{
    display: flex;
    align-items: center;
    margin: 10px auto;
    justify-content: center;
    border-radius: 3px;
    background-color: gold;
    padding: 3px 0;
    max-width: 130px;
}

.header__login-icon{
    margin-right: 5px;
}


.owl-dots {
    display: none;
}

.owl-nav {
    display: none;
}

section{
    margin: 50px 0;
}

.heading-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading-title{
    font-size: 22px;
}
.heading-more{
    color: rgb(226, 19, 19);
}

.content{
    position: relative;
    z-index: 100;
}

.hair-hot__thumb{
    display: flex;
    flex-wrap: wrap;
}

.hair-hot__item{
    flex: 24%;
    margin: 5px;
}

@media only screen and (min-width: 1023px) {
   
}

@media only screen and (max-width: 576px) {
    
}

@media only screen and (max-width: 374px) {
   
}