/* =========== fomat css ========= */
:root {
    --pd: 10px;
    --ticket-ml: 20px;
    --red: red;
    --white: white;
    --text-color: #999999;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-size:16px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */

.header {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    background-color: white;
}

.header__content {
    align-items: center;
    position: relative;
}

.header__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__navbar-item {
    padding: 10px 15px;
    font-weight: 600;
}

.header__navbar-link {}

.header__login {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: gold;
    padding: 7px;
    max-width: 130px;
}

.header__logo {
    max-width: 100px;
}

.header__login-icon {
    margin-right: 5px;
}

#item-dropdown, .header__navbar-logo, .header__navbar-bars {
    display: none;
}

/* Footer */


.footer {
    padding: 40px 0 30px;
    color: #aeaeae;
    background-color: #383838;
    font-weight: 600;
    font-size: 14px;
}

.footer-wp {
    border-bottom: 1px solid #5b5b5b;
}

.footer__title {
    color: white;
    font-size: 18px;
}

.footer__list-icon {
    display: flex;
    align-items: center;
}

.footer__item-icon {
    margin-right: 15px;
}

.footer__link-icon {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #afaeae;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5b5b5b;
    transition: all 0, 3s linear;
}

.footer__link-icon.facebook:hover {
    background-color: #3b5998;
    transition: all 0, 3s linear;
    color: #fff;
}

.footer__link-icon.instagram:hover {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    transition: all 0, 3s linear;
    color: #fff;
}

.footer__link-icon.youtube:hover {
    background-color: #F70000;
    transition: all 0, 3s linear;
    color: #fff;
}

.footer__link-icon.twitter:hover {
    background-color: #1C9CEA;
    color: #fff;
    transition: all 0, 3s linear;
}

.footer__item {
    margin: 10px 0;
}

.footer__link:hover {
    color: #dea43e;
}

.footer__desc i {
    margin-right: 20px;
}

.copyright {
    text-align: center;
    padding-top: 30px;
}

@media only screen and (max-width: 1023px) {
    .header__content {
        justify-content: space-between;
    }
    .header__navbar {
        display: none;
        position: absolute;
        width: 100%;
        flex-direction: column;
        left: 0;
        top: 0;
        padding: 30px 0;
        background-color: #fff;
        align-items: flex-start;
    }
    .header__navbar-list {
        flex-direction: column;
        width: 100%;
    }
    .header__navbar-item {
        width: 100%;
        display: block;
        border-bottom: 1px solid #ebebeb;
    }
    .header__login {
        margin-left: 10px;
        margin-top: 20px;
    }
    .header__navbar-bars {
        font-size: 24px;
        display: block;
        text-align: right;
    }
    .header__navbar-bars--remove {
        position: absolute;
        right: 10px;
        top: 20px;
        font-size: 24px;
        display: block;
    }
    [type=checkbox]:checked~.header__navbar {
        display: block;
    }
    [type=checkbox]:not(:checked), [type=checkbox]:checked {
        position: absolute;
        left: -9999px;
    }
    [type=checkbox]:not(:checked)+label, [type=checkbox]:checked+label {
        position: relative;
        cursor: pointer;
    }
    .header__navbar-logo {
        display: block;
    }

}
